/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0; }

.sidebar-container {
  position: relative;
  padding-left: 45px; }
  .sidebar-container > .sidebar {
    position: fixed;
    overflow: hidden;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    z-index: 1000;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 45px;
    transition: width 150ms cubic-bezier(0, 0, 0.2, 1); }
    .sidebar-container > .sidebar .nav-sidebar {
      padding-top: 15px; }
      .sidebar-container > .sidebar .nav-sidebar > li > a {
        position: relative; }
        .sidebar-container > .sidebar .nav-sidebar > li > a span.text {
          position: absolute;
          top: 10px;
          left: -1000px;
          opacity: 0;
          transition: opacity 50ms cubic-bezier(0, 0, 0.2, 1);
          transition-delay: 150ms; }
      .sidebar-container > .sidebar .nav-sidebar > .active > a, .sidebar-container > .sidebar .nav-sidebar > .active a:hover, .sidebar-container > .sidebar .nav-sidebar > .active a:focus {
        background-color: #18bc9c;
        color: #fff; }
    .sidebar-container > .sidebar:hover {
      width: 200px; }
      .sidebar-container > .sidebar:hover .nav-sidebar > li > a span.text {
        left: 40px;
        opacity: 1; }
  .sidebar-container > .container-fluid .content {
    padding-top: 75px; }
