@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?otwmx1');
  src:  url('fonts/icomoon.eot?otwmx1#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?otwmx1') format('truetype'),
  url('fonts/icomoon.woff?otwmx1') format('woff'),
  url('fonts/icomoon.svg?otwmx1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-control_point:before {
  content: "\e3ba";
}
.icon-brightness_2:before {
  content: "\e3a7";
}
.icon-brightness_low:before {
  content: "\e1ad";
}
.icon-build:before {
  content: "\e869";
}
.icon-error_outline:before {
  content: "\e001";
}
.icon-event_available:before {
  content: "\e614";
}
.icon-extension:before {
  content: "\e87b";
}
.icon-free_breakfast:before {
  content: "\eb44";
}
.icon-grid_on:before {
  content: "\e3ec";
}
.icon-people:before {
  content: "\e7fb";
}
.icon-home:before {
  content: "\e88a";
}
.icon-lightbulb_outline:before {
  content: "\e90f";
}
.icon-local_shipping:before {
  content: "\e558";
}
.icon-monetization_on:before {
  content: "\e263";
}
.icon-open_with:before {
  content: "\e89f";
}
.icon-remove_circle_outline:before {
  content: "\e15d";
}
.icon-settings_ethernet:before {
  content: "\e8be";
}
.icon-swap_horiz:before {
  content: "\e8d4";
}
.icon-swap_vert:before {
  content: "\e8d5";
}
