.app {
  .breadcrumb {
    margin-bottom: 30px;
  }
  .page-options {
    margin-bottom: 15px;
  }
  .btn-bare {
    background: none;
    border: 0 none;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    transition: color 50ms cubic-bezier(0.4, 0.0, 0.2, 1);
    &:hover {
      &:not(:disabled) {
        color: #18bc9c;
      }
    }
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    &.moveable {
      cursor: move;
    }
    &.link {
      padding-left: 0;
      padding-right: 0;
      color: #18bc9c;
      border-bottom:1px solid #18bc9c;
      &:hover {
        color: #1a242f;
        border-bottom:1px solid #1a242f;
      }
    }
  }
  .ReactTable {
    .rt-td:not(.first) {
      text-align: center;
    }
  }
  label {
    input[type="checkbox"] {
      margin-right: 5px;
    }
  }
}